:root {
  --font-heading: 'Ubuntu', sans-serif;
  --font-text: 'Roboto', sans-serif;
  --font-text: 'Noto Sans', sans-serif;
  --font-text: 'Oxygen', sans-serif;

  --color-light: #E4E2E0;
  --color-neutral: #D4D2D0;

  --color-text-light: #2C2A28;
  --color-text-light-faded: #7B7977;
  --color-panel-light: #FEFDFC;
  --color-background-light: #D4D2D0;
  --color-highlight-light: rgb(33, 136, 255);
  --color-highlight-light-faded:  rgb(144, 193, 253);

  --color-text-dark: #FEFDFC;
  --color-text-dark-faded: #7B7977;
  --color-panel-dark: #2C2A28;
  --color-background-dark: #7B7977;
  --color-highlight-dark: rgb(229, 151, 0);
  --color-highlight-dark-faded:  rgb(135, 96, 20);

  --color-shadow: rgba(0, 0, 0, 0.6);
  --shadow-inset: 0 0 20px 0 rgba(0,0,0,0.6) inset;
}

body {
  margin: 0;
  font-family: var(--font-text);
  font-size: 11pt;
  background: var(--color-panel-light);
  display: grid;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  letter-spacing: 0.05em;
}

.section {
  display: inline-block;
  width: 100%;
}
.section:not(:first-of-type) {
  position: relative;
  z-index: 4;
}

#head.section {
  background-image: url("../data/background.jpg");
}
.section.light {
  color: var(--color-text-light);
  background: var(--color-light);
}
.section.dark {
  color: var(--color-text-light);
  background: var(--color-neutral);
}
#foot.section {
  color: var(--color-text-dark);
  background: var(--color-panel-dark);
}

#downloads.section {
  background: var(--color-highlight-light-faded);
}
#downloads .zone {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
}
button {
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  background: var(--color-highlight-light);
  color: var(--color-text-dark);
  font-size: 11pt;
  font-weight: normal;
  font-family: var(--font-heading);
  cursor: pointer;
}
button:active {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2) inset;
}
button p:first-child {
  margin: 0;
  font-weight: normal;
}
button p:last-child {
  margin: 4px 0 0 0;
  font-size: 9pt;
}

.zone div#previews {
  position: relative;
  height: 452px;
}

.zone #osx.window {
  z-index: 2;
  margin-top: 8px;
  margin-left: 5px;
  border-radius: 6px;
}
.zone #windows.window {
  z-index: 1;
  margin-left: 55px;
  margin-top: 60px;
}
.zone #ubuntu.window {
  z-index: 0;
  margin-left: 105px;
  margin-top: 100px;
  border-radius: 6px;
}

.zone img.window {
  object-position: top;
  height: 452px;
  width: 790px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
  margin: auto;
  display: block;
  float: none;
  position: absolute;
}
.zone h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 28pt;
  margin-top: calc(100vh - 520px);
}

.zone {
  max-width: 900px;
  padding: 0 100px;
  margin: auto;
  overflow: hidden;
}

.zone h2 {
  font-weight: lighter;
  margin: 0 0 20px 0;
  font-size: 24pt;
}
.section.light h2 {
  color: var(--color-highlight-light);
}
.section.dark h2 {
  color: var(--color-highlight-dark);
}

.zone p {
  letter-spacing: 0.05em;
  margin: 20px 0 0 0;
  font-weight: lighter;
}

.zone div.cutout {
  overflow: hidden;
  float: left;
}
#step-1 div.cutout {
  height: 228px;
  width: 280px;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  box-shadow: var(--shadow-inset);
  box-shadow: inset 0 12px 20px -14px var(--color-shadow), inset 12px 0 20px -13px var(--color-shadow), inset -12px 0 20px -13px var(--color-shadow);
}
#step-2 div.cutout {
  height: 228px;
  width: 280px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  box-shadow: var(--shadow-inset);
  box-shadow: inset 0 -12px 20px -14px var(--color-shadow), inset 12px 0 20px -13px var(--color-shadow), inset -12px 0 20px -13px var(--color-shadow);
}

.zone img {
  object-fit: none;
  height: 248px;
  width: 280px;
  z-index: -1;
  position: relative;
}
.zone img#upper {
  object-position: top;
  transform: translateY(0px);
}
.zone img#lower {
  object-position: bottom;
  transform: translateY(-20px);
}

.zone .description {
  height: 228px;
  display: flex;
}
.zone .description.node {
  width: calc(100% - 280px);
}
.zone .description .text {
  margin: auto 30px;
}

#step-3.section .description {
  height: 496px;
}
#step-3.section .description .text {
  width: 100%;
  text-align: center;
  margin-top: 57.5px;
}
#step-3.section .description h2 {
  margin: 0;
}

#features.section .zone {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.feature {
  margin-bottom: 20px;
}

div.feature div.cutout {
  box-shadow: var(--shadow-inset);
  border-radius: 50%;
}

div.feature img {
  object-position: top;
  object-fit: none;
  width: 120px;
  height: 120px;
  float: left;
}

div.feature div.description {
  height: 120px;
  width: 300px;
  box-sizing: border-box;
}

div.feature div.description h3 {
  margin: 0;
  font-size: 16pt;
  font-weight: normal;
  color: var(--color-highlight-dark);
  border-left: 2px solid;
  padding-left: 5px;
}
div.feature div.description p {
  margin-top: 10px;
}

#foot div.description {
  height: 70px;
}
#foot div.description .text {
  margin: auto 0;
  width: 100%;
}
#foot div.description p {
  margin: 0;
}
#foot a {
  color: var(--color-highlight-light-faded);
  text-decoration: none;
}
#foot a:hover {
  text-decoration: underline;
}
