
.anchor {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.anchor.source {
  font-size: 14px;
  color: var(--color-node);
}
.anchor.target {
  font-size: 22px;
  color: var(--color-graph);
}
.anchor.source i {
  overflow: hidden;
  line-height: 30px;
}

.anchor:hover {
  color: var(--color-highlight);
}

.anchor.target.selected {
  color: var(--color-highlight);
}
.anchor.target.in {
  color: var(--color-in);
}
.anchor.target.out {
  color: var(--color-out);
}
.anchor.target.same {
  color: var(--color-same);
}

.anchor.top {
  left: 50%;
  top: 0;
}
.anchor.top.source {
  transform: translate(-15px, -20px);
}
.anchor.top.source i {
  height: 10px;
  line-height: 0px;
  transform: rotate(180deg);
}
.anchor.top.target {
  transform: translate(-15px, -18px);
}
.anchor.right {
  right: 0;
  top: 50%;
}
.anchor.right.source {
  transform: translate(17.5px, -15px);
}
.anchor.right.source i {
  width: 7px;
  transform: rotate(180deg);
}
.anchor.right.target {
  transform: translate(17px, -15px);
}
.anchor.bottom {
  left: 50%;
  bottom: 0;
}
.anchor.bottom.source {
  transform: translate(-15px, 19px);
}
.anchor.bottom.source i {
  height: 10px;
  line-height: 0px;
}
.anchor.bottom.target {
  transform: translate(-15px, 15px);
}
.anchor.left {
  left: 0;
  top: 50%;
}
.anchor.left.source {
  transform: translate(-18px, -15px);
}
.anchor.left.source i {
  width: 7px;
}
.anchor.left.target {
  transform: translate(-17px, -16px);
}
