
.color-picker {
  position: absolute;
  z-index: 1;
  width: 200px;
  background: var(--color-button);
}

.color-picker .divider {
  width: 100%;
  height: 5px;
  --hue: 0;
  background: linear-gradient(to right, hsl(var(--hue), 100%, var(--divider-lf)), hsl(var(--hue), 96%, var(--divider-lt)));
}

.color-presets {
  display: flex;
  flex-flow: row wrap;
  padding: 1px;
}
.color-preset {
  width: 10px;
  height: 10px;
  margin: 1px;
  --hue: 0;
  background: linear-gradient(to right, hsl(var(--hue), 100%, var(--divider-lf)), hsl(var(--hue), 96%, var(--divider-lt)));
}
.color-preset:hover {
  outline: 1px solid var(--color-highlight);
}
#color-reset {
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: var(--color-lightest);
}
#color-reset i {
  pointer-events: none;
}

.color-slider {
  -webkit-appearance: none;
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  height: 5px;
  margin: 0;
  display: block;
  outline: none;
  transition: color 0.05s linear;
  background: linear-gradient(to right, rgb(255,0,0), rgb(255,255,0), rgb(0,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255),rgb(255,0,0));
}

  .color-slider:focus {
    outline: none;
  }
  .color-slider:active,
  .color-slider:hover:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  .color-slider::-webkit-slider-thumb {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: white;
    cursor: pointer;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    transition: border 0.1s ease-in-out,box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
    box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.05);
  }
    .color-slider::-webkit-slider-thumb:active,
    .color-slider::-webkit-slider-thumb:hover:active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
      box-shadow: 0 0 1px rgba(0,0,0,0.1);
    }
    .color-slider::-webkit-slider-thumb:hover {
      box-shadow: 0 0.4em 1em rgba(0,0,0,0.15);
    }
