
body {
  font-family: var(--font-sans);
  font-size: 13px;
  color: var(--color-text);
  background: var(--background-color);
  height: 100%;
  margin: 0;
  user-select: none;
}

:focus {
  outline: none;
}

em {
  color: var(--color-text-highlight);
  font: inherit;
  font-weight: 500;
  cursor: pointer;
}
em:hover {
  text-decoration: underline;
}

.board {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer {
  width: 9000px;
  height: 6000px;
  zoom: 1.0;
}
.layer.graphs {
  position: absolute;
  background-image: var(--background-image);
}

rect.selection {
  fill: var(--color-highlight);
  fill-opacity: 0.3;
  stroke-width: 1;
  stroke: var(--color-highlight);
}

.template {
  display: none;
}
