
.graph {
  stroke: var(--color-graph);
  stroke-width: 3px;
  fill: none;
}
.graph-area {
  stroke: transparent;
  stroke-width: 30px;
  fill: none;
}

.graph-area:hover + .graph, .graph-area + .graph:hover {
  stroke: var(--color-highlight);
}

.graph.selected {
  stroke: var(--color-highlight);
}
.graph.in {
  stroke: var(--color-in);
}
.graph.out {
  stroke: var(--color-out);
}
.graph.same {
  stroke: var(--color-same);
}
