
.graph {
  stroke: var(--color-graph);
  stroke-width: 2;
  fill: none;
}
.graph.selected {
  stroke: var(--color-highlight);
}
.graph-area {
  stroke: transparent;
  stroke-width: 30px;
  fill: none;
}

.sign {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--color-node);
  box-shadow: var(--shadow-near);
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.sign .details:empty:before{
  content: attr(data-text);
  color: var(--color-text-faded);
}
.sign.selected {
  border: 1px solid var(--color-highlight);
  transform: translate(-50%-1px, -50%-1px);
}
