
.graph {
  stroke: var(--color-graph);
  stroke-width: 2;
  fill: none;
}
.graph.selected {
  stroke: var(--color-highlight);
}
.graph-area {
  stroke: transparent;
  stroke-width: 30px;
  fill: none;
}
