
#menu {
  position: absolute;
  z-index: 1;
  margin: 10px;
  display: inline-block;
  background-color: var(--color-menu);
  border-radius: 5px;
  box-shadow: var(--shadow-ui);
}

#toolbar {
  padding: 5px;
}

.tool {
  color: var(--color-text);
  background: var(--color-button);
  height: 24px;
  width: 24px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
  font-size: 15px;
}
.tool:focus {
  outline: none;
}
.tool:hover {
  box-shadow: inset 0 -1px 0 var(--color-neutral);
}
.tool:active {
  box-shadow: 0 -1px 0 var(--color-neutral);
}
.tool:disabled {
  color: var(--color-text-faded);
  pointer-events: none;
}
#new.tool:hover {
  background: var(--color-tool-new);
}
#save.tool:hover {
  background: var(--color-tool-save);
}
#save-as.tool:hover {
  background: var(--color-tool-save);
}
#load.tool:hover {
  background: var(--color-tool-load);
}
#theme.tool:hover {
  background: var(--color-tool-theme);
}
#remove.tool:hover {
  background: var(--color-tool-remove);
}
