
#collapser {
  position: absolute;
  z-index: 1;
  margin: 10px;
  display: grid;
  overflow: hidden;
  box-shadow: var(--shadow-ui);
  border-radius: 5px;
  max-width: 500px;
  max-height: 500px;
  transition: max-width 0.3s ease, max-height 0.3s ease;
}
#collapser.collapsed {
  max-width: 34px;
  max-height: 34px;
}

#menu {
  display: inline-block;
  background-color: var(--color-menu);
  font-size: 12px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

#menu h1 {
  font-size: 11px;
  width: 100%;
  padding: 0 5px;
  color: var(--color-text-faded);
  margin: 10px 0 2px 0;
}

hr.line {
  border-color: var(--color-text-faded);
  border-width: 0 0 1px 0;
  margin: 0;
}
hr.seperator {
  border-color: var(--color-text-faded);
  margin-top: 5px 0;
}

#board-tools.toolbar {
  width: calc(6 * 30px);
  display: block;
  padding: 2px;
}

.tool {
  color: var(--color-text);
  background: var(--color-button);
  height: 24px;
  width: 24px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  margin: 3px;
  transition: background 0.1s;
  font-size: 15px;
}
.tool.small {
  width: 16px;
  height: 16px;
  font-size: 12px;
  margin: 2px 0;
  border-radius: 3px;
  color: var(--color-lightest);
  background: var(--color-highlight-faded);
}
.tool.small:hover {
  background: var(--color-highlight);
}
.tool.small:disabled:hover {
  background: var(--color-highlight-faded);
}

.tool:hover {
  background: var(--color-highlight-faded);
}
.tool:active {
  background: var(--color-highlight);
}
.tool:disabled {
  color: var(--color-text-faded);
  pointer-events: none;
  cursor: default;
}

#collapse.tool:not(:hover) {
  background: var(--color-menu);
}

#node-tools.toolbar {
  display: grid;
  overflow: hidden;
  max-height: 80px;
  transition: max-height 0.3s ease;
}
#node-tools.toolbar.collapsed {
  max-height: 0px;
}
