
.minimap {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 240px;
  height: 160px;
  background: var(--color-minimap);
  opacity: 0.5;
}

.mini {
  position: absolute;
  background: var(--color-minimap-window);
}

.mini.mini-node {
  background: black;
}
.mini.mini-node.selected {
  background: var(--color-highlight);
}
.mini.mini-node.in {
  background: var(--color-in);
}
.mini.mini-node.out {
  background: var(--color-out);
}
.mini.mini-node.same {
  background: var(--color-same);
}

.zoominfo {
  color: var(--color-lightest);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
