
.node {
  position: absolute;
  width: 180px;
  height: 120px;
  border-radius: 10px;
}

.node.selected {
  border: 2px solid var(--color-node-highlight);
  transform: translate(-2px, -2px);
}

.node .head {
  height: 30px;
  padding: 8px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #082136, #0f2d49);
  border-radius: 10px 10px 0 0;
}

.node .body {
  height: calc(100% - 30px);
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--color-node);
  border-radius: 0 0 10px 10px;
}

.node .label, .node .details {
  font: inherit;
  color: inherit;
  height: 100%;
  width: 100%;
  background: none;
}
.node .label[readonly], .node .details[contentEditable=false] {
  cursor: default;
  user-select: none;
}

.node .label {
  font-weight: bold;
  border: none;
}
.node .label::placeholder {
  color: var(--color-text-faded);
  opacity: 1;
}

.node .details {
  overflow-y: auto;
}
.node .details:empty:before{
  content: attr(data-text);
  color: var(--color-text-faded);
}

.node .details::-webkit-scrollbar {
  width: 5px;
}
.node .details::-webkit-scrollbar-track {
  background: none;
}
.node .details::-webkit-scrollbar-thumb {
  background: var(--color-node-faded);
  border-radius: 10px;
}

.node .anchor {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 10px;
  color: var(--color-text-faded);
}

.node .anchor:hover {
  color: var(--color-text-highlight);
}

.node .anchor.top {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.node .anchor.right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.node .anchor.bottom {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.node .anchor.left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.node .resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color-text-faded);
  font-size: 10px;
  cursor: se-resize;
}
.node .resizer:hover {
  color: var(--color-text-highlight);
}
.node .resizer i {
  transform: rotate(-45deg);
}
