
.node {
  position: absolute;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  box-shadow: var(--shadow-near);
}

.node.selected {
  border: 1px solid var(--color-highlight);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}

.node.minimized {
  max-height: 41px;
}
.node.minimized .body {
  display: none;
}
.node.node.minimized .divider {
  border-radius: 0 0 5px 5px;
}

.node.in {
  border: 1px solid var(--color-in);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}
.node.out {
  border: 1px solid var(--color-out);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}
.node.same {
  border: 1px solid var(--color-same);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}

.node.target {
  border: 1px dashed var(--color-highlight);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}

.node > .head, .node > .body {
  background: var(--color-node);
  box-sizing: border-box;
  padding: 6px 10px;
}

.node .head {
  height: 36px;
  border-radius: 5px 5px 0 0;
}

.node .divider {
  height: 5px;
  background: linear-gradient(to right, hsl(var(--hue), 100%, var(--divider-lf)), hsl(var(--hue), 96%, var(--divider-lt)));
}

.node .body {
  height: calc(100% - 41px);
  border-radius: 0 0 5px 5px;
}

.node .label, .node .details {
  font: inherit;
  color: inherit;
  height: 100%;
  width: 100%;
  background: none;
}
.node .label[contentEditable=false], .node .details[contentEditable=false] {
  cursor: default;
  user-select: none;
}

.node .label {
  display: inline-block;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
}
.node .label:empty:before{
  content: attr(data-text);
  color: var(--color-text-faded);
}

:root.dark div.label {
  font-weight: 400;
  letter-spacing: 0.04em;
}
:root.light div.label {
  font-weight: 500;
  letter-spacing: 0.03em;
}

.node .details {
  display: inline-block; /* makes Enter create <br> */
  font-family: var(--font-sans);
  font-size: 12px;
  line-height: 1.5em;
  overflow-y: auto;
}
.node .details:empty:before{
  content: attr(data-text);
  color: var(--color-text-faded);
}

.node .details::-webkit-scrollbar {
  width: 5px;
}
.node .details::-webkit-scrollbar-track {
  background: none;
}
.node .details::-webkit-scrollbar-thumb {
  background: var(--color-node-faded);
  border-radius: 10px;
}

:root.dark div.details {
  font-weight: 200;
  letter-spacing: 0.08em;
}
:root.light div.details {
  font-weight: 500;
  letter-spacing: 0.055em;
}

.node .resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color-text-faded);
  font-size: 11px;
}
.node .resizer:hover {
  color: var(--color-text-highlight);
}
.node .resizer i {
  transform: rotate(-45deg);
  pointer-events: none;
}
.node .resizer.resize-width {
  bottom: 7px;
  right: 3px;
  font-size: 9px;
  z-index: 1;
}
.node .resizer.resize-width i {
  transform: rotate(90deg);
}
