
.node {
  position: absolute;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  box-shadow: var(--shadow-near);
}

.node.selected {
  border: 1px solid var(--color-highlight);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}

.node.in {
  border: 1px solid var(--color-in);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}
.node.out {
  border: 1px solid var(--color-out);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}

.node.target {
  border: 1px dashed var(--color-highlight);
  transform: translate(-1px, -1px);
  background-clip: content-box;
}

.node > .head, .node > .body {
  background: var(--color-node);
  box-sizing: border-box;
  padding: 6px 10px;
}

.node .head {
  height: 36px;
  border-radius: 5px 5px 0 0;
}

.node .divider {
  height: 5px;
  background: linear-gradient(to right, hsl(var(--hue), 100%, var(--divider-lf)), hsl(var(--hue), 96%, var(--divider-lt)));
  cursor: pointer;
}

.node .body {
  height: calc(100% - 41px);
  border-radius: 0 0 5px 5px;
}

.node .label, .node .details {
  font: inherit;
  color: inherit;
  height: 100%;
  width: 100%;
  background: none;
}
.node .label[readonly], .node .details[contentEditable=false] {
  cursor: default;
  user-select: none;
}

.node .label {
  font-size: 13pt;
  border: none;
}
.node .label::placeholder {
  color: var(--color-text-faded);
  opacity: 1;
}

.node .details {
  font-size: 9pt;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  overflow-y: auto;
}
.node .details:empty:before{
  content: attr(data-text);
  color: var(--color-text-faded);
}

.node .details::-webkit-scrollbar {
  width: 5px;
}
.node .details::-webkit-scrollbar-track {
  background: none;
}
.node .details::-webkit-scrollbar-thumb {
  background: var(--color-node-faded);
  border-radius: 10px;
}


.node .resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color-text-faded);
  font-size: 9px;
  cursor: se-resize;
}
.node .resizer:hover {
  color: var(--color-text-highlight);
}
.node .resizer i {
  transform: rotate(-45deg);
  pointer-events: none;
}
