
.sign {
  position: absolute;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--color-node);
  box-shadow: var(--shadow-near);
  border-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 8pt;
  line-height: 1.5em;
  font-family: var(--font-sans);
}
.sign .details:empty:before{
  content: attr(data-text);
  color: var(--color-text-faded);
}
.sign.selected {
  border: 1px solid var(--color-highlight);
  transform: translate(-1px, -1px);
}
:root.dark .sign {
  font-weight: 200;
  letter-spacing: 0.1em;
}
:root.light .sign {
  font-weight: 500;
  letter-spacing: 0.05em;
}
