
body {
  font-family: var(--font-sans);
  font-size: 13px;
  color: var(--color-text);
  background: var(--color-background) fixed;
  background-image: url("../data/rebel.png");
  height: 100%;
  margin: 0;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.node {
  position: absolute;
  width: 180px;
  height: 120px;
  border-spacing: 0;
  display: table;
}

.node.selected {
  border: 2px solid var(--color-node-highlight);
}

.node .head {
  height: 30px;
  padding: 8px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #082136, #0f2d49);
  border-radius: 10px 10px 0 0;
}

.node .body {
  height: calc(100% - 30px);
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--color-node);
  border-radius: 0 0 10px 10px;
}

.node .label, .node .details {
  font: inherit;
  color: inherit;
  height: 100%;
  width: 100%;
  background: none;
}
.node .label[readonly], .node .details[contentEditable=false] {
  cursor: default;
  user-select: none;
}

.node .label {
  font-weight: bold;
  border: none;
}
.node .label::placeholder {
  color: var(--color-text-faded);
  opacity: 1;
}

.node .details {
  overflow-y: auto;
}
.node .details:empty:before{
  content: attr(data-text);
  color: var(--color-text-faded);
}

.node .details::-webkit-scrollbar {
  width: 5px;
}
.node .details::-webkit-scrollbar-track {
  background: none;
}
.node .details::-webkit-scrollbar-thumb {
  background: var(--color-node-faded);
  border-radius: 10px;
}

.node .anchor {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: border 0.3s;
}

.node .anchor:hover {
  border: 2px dashed var(--color-text);
}
.node .anchor.linked {
  background-color: var(--color-text);
}

.node .anchor.top {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.node .anchor.right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.node .anchor.bottom {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.node .anchor.left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.graph {
  stroke: var(--color-text);
  stroke-width: 2;
  fill: none;
}
