
:root.dark div#board-tree {
  font-weight: 400;
  letter-spacing: 0.03em;
}
:root.light div#board-tree {
  font-weight: 600;
  letter-spacing: 0.01em;
}

ul.treeview {
  margin: 0;
}

ul.treeview, .treeview ul {
  list-style-type: none;
  padding-left: 0;
}

li.leaf {
  height: 20px;
  line-height: 20px;
}

ul.nested.root {
  margin-left: 0;
  display: block;
  overflow: auto;
  height: calc(100% - 25px);
}

li.branch {
  display: block;
}

li.leaf i {
  min-width: 15px;
}

li.leaf.selected {
  background: var(--color-highlight-faded);
}
li.leaf.hovered:not(:nth-last-of-type(3)) {
  background: var(--color-highlight-faded);
}
li.leaf.insert, span.branch.insert {
  cursor: grabbing;
}
.insert-line {
  position: absolute;
  background: var( --color-highlight);
  width: 100%;
  height: 2px;
  right: 0;
}

.branch.title {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.branch.title i, .branch.title .selector {
  display: inline-block;
  margin: 0;
}

.branch.title i {
  float: left;
  margin-top: 2px;
  margin-right: 4px;
  line-height: 16px;
  width: 11px;
}

#tree-tools.toolbar {
  display: none;
  position: absolute;
  right: 0;
  margin: 1px 2px;
  pointer-events: none;
}
#tree-tools.toolbar .tool {
  pointer-events: auto;
  margin: 0;
}
#tree-tools.toolbar > .tool {
  display: none;
}
#tree-tools.toolbar input.selector {
  position: absolute;
  top: -1px;
  right: 0;
  background: var(--color-highlight-faded);
  border: none;
  font: inherit;
  color: var(--color-text);
  z-index: 1;
}

#tree-tools.toolbar #del-confirm {
  background: var(--color-highlight-faded);
  width: 100%;
}
#tree-tools.toolbar #del-confirm span {
  margin-right: 46px;
}
