@font-face {
  font-family: 'NotoSans';
  src: url('../data/NotoSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'NotoSerif';
  src: url('../data/NotoSerif-Regular.ttf')  format('truetype');
}

:root {
  --font-sans: 'NotoSans', Fallback, sans-serif;
  --font-serif: 'NotoSerif', Fallback, serif;

  --color-lightest: #f0f4f5;
  --color-light: #c7c7c7;
  --color-neutral: #777777;
  --color-dark: #4b4b4b;
  --color-darkest: #282828;

  --shadow-ui: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  --shadow-near: 0px 2px 4px 0 rgba(0, 0, 0, 0.3);

  --background-color: var(--color-neutral);
  --background-image: url("../data/worn-dots.png");
  /* Transparent variant from transparenttextures.com
  based on background pattern from Toptal Subtle Patterns */
  --color-text-faded: var(--color-neutral);

  --color-tool-new: mediumorchid;
  --color-tool-save: mediumorchid;
  --color-tool-load: mediumorchid;
  --color-tool-theme: orange;
  --color-tool-remove: firebrick;

  --color-in: #3CC47C;
  --color-out: #FF3B3F;
}

:root.dark {
  --color-highlight: rgb(229, 151, 0);
  --divider-lf: 22%;
  --divider-lt: 34%;

  --color-node: var(--color-darkest);
  --color-text: var(--color-lightest);
  --color-text-highlight: var(--color-highlight);
  --color-graph: var(--color-light);
  --color-menu: var(--color-darkest);
  --color-button: var(--color-dark);
}

:root.light {
  --color-highlight: #0000EE;
  --divider-lf: 62%;
  --divider-lt: 74%;

  --color-node: var(--color-lightest);
  --color-text: black;
  --color-text-highlight: var(--color-highlight);
  --color-graph: var(--color-dark);
  --color-menu: var(--color-lightest);
  --color-button: var(--color-light);
}
