@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Light.ttf')  format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Regular.ttf')  format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Medium.ttf')  format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-SemiBold.ttf')  format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Bold.ttf')  format('truetype');
  font-weight: 700;
}

:root {
  --font-sans: 'NotoSans', Fallback, sans-serif;

  --color-in: #3CC47C;
  --color-out: #FF3B3F;
  --color-same: #3AADFF;
}

:root.dark {
  --color-lightest: #FEFDFC;
  --color-light: #CBC9C7;
  --color-neutral: #7B7977;
  --color-dark: #4F4D4B;
  --color-darkest: #2C2A28;
  --color-highlight: rgb(229, 151, 0);
  --color-highlight-faded: rgb(135, 96, 20);
  --divider-lf: 22%;
  --divider-lt: 34%;

  --color-menu: var(--color-darkest);
  --color-button: var(--color-dark);
  --color-node: var(--color-darkest);
  --color-graph: var(--color-light);
  --color-text: var(--color-lightest);
  --color-text-faded: var(--color-neutral);
  --color-text-highlight: var(--color-highlight);

  --color-minimap: var(--color-dark);
  --color-minimap-window: var(--color-darkest);

  --shadow-ui: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  --shadow-near: 0px 2px 4px 0 rgba(0, 0, 0, 0.3);

  --background-color: var(--color-neutral);
  --background-image: url("../data/worn-dots-dark.png");
  /* Transparent variant from transparenttextures.com
  based on background pattern from Toptal Subtle Patterns */
}

:root.light {
  --color-lightest: #FEFDFC;
  --color-light: #E4E2E0;
  --color-neutral: #D4D2D0;
  --color-dark: #7B7977;
  --color-darkest: #2C2A28;
  --color-highlight: rgb(33, 136, 255);
  --color-highlight-faded: rgb(144, 193, 253);
  --divider-lf: 62%;
  --divider-lt: 74%;

  --color-menu: var(--color-lightest);
  --color-button: var(--color-light);
  --color-node: var(--color-lightest);
  --color-graph: var(--color-dark);
  --color-text: var(--color-darkest);
  --color-text-faded: var(--color-dark);
  --color-text-highlight: var(--color-highlight);

  --color-minimap: var(--color-dark);
  --color-minimap-window: var(--color-darkest);

  --shadow-ui: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  --shadow-near: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);

  --background-color: var(--color-neutral);
  --background-image: url("../data/worn-dots-light.png");
  /* Transparent variant from transparenttextures.com
  based on background pattern from Toptal Subtle Patterns */
}
