@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Light.ttf')  format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Regular.ttf')  format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Medium.ttf')  format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-SemiBold.ttf')  format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../data/fonts/Noto_Sans/NotoSans-Bold.ttf')  format('truetype');
  font-weight: 700;
}

:root {
  --font-sans: 'NotoSans', Fallback, sans-serif;
  --color-lightest: #fffafa;
  --color-light: #c7c7c7;
  --color-neutral: #777777;
  --color-dark: #4b4b4b;
  --color-darkest: #282828;

  --shadow-ui: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  --shadow-near: 0px 2px 4px 0 rgba(0, 0, 0, 0.3);

  --background-color: var(--color-neutral);
  --background-image: url("../data/worn-dots.png");
  /* Transparent variant from transparenttextures.com
  based on background pattern from Toptal Subtle Patterns */
  --color-text-faded: var(--color-neutral);

  --color-tool-new: mediumorchid;
  --color-tool-save: mediumorchid;
  --color-tool-load: mediumorchid;
  --color-tool-theme: orange;
  --color-tool-remove: firebrick;
  --color-tool-help: orange;

  --color-in: #3CC47C;
  --color-out: #FF3B3F;
  --color-same: #3AADFF;
}

:root.dark {
  --color-highlight: rgba(229, 151, 0, 1.0);
  --color-highlight-faded: rgba(229, 151, 0, 0.5);
  --color-highlight-faded-o: rgb(135, 96, 20);
  --divider-lf: 22%;
  --divider-lt: 34%;

  --color-node: var(--color-darkest);
  --color-text: var(--color-lightest);
  --color-text-highlight: var(--color-highlight);
  --color-graph: var(--color-light);
  --color-menu: var(--color-darkest);
  --color-button: var(--color-dark);
}

:root.light {
  --color-highlight: rgba(33, 136, 255, 1.0);
  --color-highlight-faded: rgba(33, 136, 255, 0.5);
  --divider-lf: 62%;
  --divider-lt: 74%;

  --color-node: var(--color-lightest);
  --color-text: black;
  --color-text-highlight: var(--color-highlight);
  --color-graph: var(--color-dark);
  --color-menu: var(--color-lightest);
  --color-button: var(--color-light);
}
